@charset "UTF-8";

/*Estilo para impressora será diferente do que estará presente na tela*/

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu {
    display: none;/*não exibir o menu na impressão*/
}

article {
    width: 100%;
}

article::after {/*depois do artigo*/
    content: 'Esse artigo foi impresso através do site: www.cursoemvideo.com';
}