@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../pacote-projeto-d010/fontes/idroid.otf') format('opentype'); /*aqui se utilizam as '/' para se chegar no arquivo desejado dentro do seletor url*/
    font-weight: normal;
}
/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

/*raiz da árvore, serve para o documento inteiro*/
/*essas são variáveis que podem ser criadas através de '--'*/

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

/*config global*/
* {
    margin: auto;
    padding: 0px;
   
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {/*criar uma class*/
    content: '\00a0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));/*fazer degradê*/
    min-height: 150px;/*altura mínia, tamanho da caixa*/
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;/*separar o título*/
    font-size: 3em;/*ou 48px*/
    font-weight: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.719);
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.719);

}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.329);
}

nav a {
    color: white;
    padding: 10px;
    border-radius: 5px;/*austar as bordas*/
    text-decoration: none;/*retira sublinhado*/
    font-weight: bold;/*negrito*/
    transition-duration: 0.5s;/* demora a aparecer*/
}

nav > a:hover {/*passar o mouse em cima*/
    background-color: var(--cor2);
    color: var(--cor5);/*cor da letra*/
}

main {
    background-color: white;
    margin: auto;
    margin-bottom: 30px;/*separar a pagina do rodapé*/
    padding: 20px;
    min-width: 320px;/*torna a imagem responsiva*/
    max-width: 1000px;/*torna a imagem responsiva*/
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;/*arredondar bordas*/
    border-bottom-right-radius: 10px;/*arredondar bordas de baixo*/
}

main img {
    width: 100%;/*torna a imagem responsiva*/
}

main img.pequena {/*uso de class*/
    max-width: 350px;/*largura maxima de crescimento*/
    display: block;/*centraliza a img*/
}

main h1 {
    color:var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);/*degradê na linha*/
}

main p {
    margin: 15px 0px 15px 0px;/*criar uma margem, separar os parágrafos*/
    text-align: justify;
    text-indent: 30px;/*identação inicio de parágrafo*/
    font-size: 1em;/*tamanho da fonte*/
    line-height: 2em;/*espaçamento entre linhas*/
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px 2px 6px;/*separar*/
}

main a {
    text-decoration: none;
    font-weight: bold;
    padding: 2px 6px;/*separar*/
    color: var(--cor5);
    background-color:var(--cor1);
}

main a:hover {
    text-decoration: underline;/*sublinhar*/
    color: var(--cor4);
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    
    padding-bottom: 58%;/*ajustar video*/
    position: relative;/*ajustar video*/
}

div.video > iframe {/*ajustar o video*/
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.308);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;/*margem negativa*/
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 8px black;
}

aside > ul {/*lista*/
    list-style-type: '\2714\00a0';/*colocar o simbolo check*/
    list-style-position: inside;/*colocar as bolinhas pra dentro*/
    columns: 2;/*dividiir em 2 colunas*/
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}